.tile {
  display: inline-flex;
  
}

.blank {

}



.player {
  background-image: url('/tiles/player.png');
  background-position: center;
  background-repeat: no-repeat;
}

.ModalTaOne {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 10px 20px;
  background-color: rgb(65, 65, 65);
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  z-index: 3;
  background-image: url(./modalBG.png);
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.ModalTaTwo {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 10px 20px;
  background-color: rgb(65, 65, 65);
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  z-index: 3;
  background-image: url(./storeModal.png);
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 10px 80px;
  background-color: rgb(65, 65, 65);
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  z-index: 3;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.ModalMail {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #2c2c2c;
  font-size: 25px;
  z-index: 3;
  background-image: url(./paper.jpg);
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.ModalFinal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 20px 80px;
  background-color: rgb(65, 65, 65);
  background-image: url(../map/loginOceanBackground.png);
  background-position-x: center;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  z-index: 3;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(130, 184, 255);
  z-index: 3;
}

.OverlayFinal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(145, 0, 0);
  z-index: 3;
}

button {
  height: 50px;
  background-color: #ffffff;
  border: 2px solid rgb(130, 184, 255);
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.buttonQ {
  height: 50px;
  width: 90%;
  background-color: #ffffff;
  border: 2px solid rgb(130, 184, 255);
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background-color: rgb(130, 184, 255);
  border: 2px solid #ffffff;
}

button:active {
  background-color: rgb(130, 255, 136);
  border: 2px solid #ffffff;
}



.Modaltest {
  position: absolute;
  top: 240px;
  left: 240px;
  right: 240px;
  height: 250px;
  padding: 10px 20px;
  text-align: center;
  background-color: #684729;
  color: #ffffff;
  font-size: 25px;
  z-index: 3;
  vertical-align: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.Overlaytest {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(0,0,0,0.5);
  z-index: 3;
}

.modalSave {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 10px 90px;
  text-align: center;
  background-color: #003e8f;
  background-image: url(../map/saveModal.png);
  background-position-x: center;
  color: #ffffff;
  font-size: 22px;
  z-index: 3;
  vertical-align: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}

.modalUpgrade {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 200px 80px;
  text-align: center;
  background-color: #634329;
  background-image: url(./storeModal.png);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-size: 25px;
  z-index: 3;
  vertical-align: center;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6;
}
