.navbar {
    background: pink;
    min-height: 70px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.navbar .correct {
    -webkit-animation: 1s correct;
    animation: 1s correct
}

.navbar .incorrect {
    -webkit-animation: 1s incorrect;
    animation: 1s incorrect
}

@-webkit-keyframes correct {
    0% {
        color: #fff
    }

    20% {
        color: #2e7d32
    }

    40% {
        color: #fff
    }

    60% {
        color: #2e7d32
    }

    80% {
        color: #fff
    }

    to {
        color: #fff
    }
}

@keyframes correct {
    0% {
        color: #fff
    }

    20% {
        color: #2e7d32
    }

    40% {
        color: #fff
    }

    60% {
        color: #2e7d32
    }

    80% {
        color: #fff
    }

    to {
        color: #fff
    }
}

@-webkit-keyframes incorrect {
    0% {
        color: #fff
    }

    20% {
        color: #c62828
    }

    40% {
        color: #fff
    }

    60% {
        color: #c62828
    }

    80% {
        color: #fff
    }

    to {
        color: #fff
    }
}

@keyframes incorrect {
    0% {
        color: #fff
    }

    20% {
        color: #c62828
    }

    40% {
        color: #fff
    }

    60% {
        color: #c62828
    }

    80% {
        color: #fff
    }

    to {
        color: #fff
    }
}